* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #333;
    color: #fff;
    width: 620px;
    height: 450px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.5px;
    display: none;
}

.cross {
    float: right;
    cursor: pointer;
    padding-right: 20px;
    font-size: 30px;
    padding-top: 10px;
}

.cross::after {
    clear: both;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    padding-top: 45px;
}

.command {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}